---
import MdiTwitter from "~icons/mdi/twitter";
import MdiWebsite from "~icons/mdi/web";
import {TWITTER_HANDLE, WEBSITE_NAME } from "../consts";

const today = new Date();
---

<footer class="flex items-center justify-between py-5">
  <p>&copy; {today.getFullYear()} Honeybell Games</p>
  <div class="flex items-center space-x-1">
    <a
      href={TWITTER_HANDLE}
      target="_blank"
      class="w-8 h-8 flex items-center justify-center rounded-md p-1.5 hover:bg-slate-300 dark:hover:bg-slate-800"
    >
      <MdiTwitter />
      <span class="sr-only">Twitter</span>
    </a>
    <a
      href={WEBSITE_NAME}
      target="_blank"
      class="w-8 h-8 flex items-center justify-center rounded-md p-1.5 hover:bg-slate-300 dark:hover:bg-slate-800"
    >
      <MdiWebsite />
      <span class="sr-only">Website</span>
    </a>
  </div>
</footer>
